# 永豐 API 金鑰
API_KEY=
SECRET_KEY=

# 永豐 API 憑證 
CA_CERT_PATH=
CA_PASSWORD=

# 使用 emulator 時設定此變數
FIRESTORE_EMULATOR_HOST=localhost:8080
PUBSUB_EMULATOR_HOST=localhost:8085
STORAGE_EMULATOR_HOST=localhost:9199
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099

# GCP 專案 ID（預設：demo-project）
GCP_PROJECT_ID=demo-project

# Pub/Sub Topic ID
PUBSUB_TOPIC_ID=price-updates

# Pub/Sub Subscription ID
PUBSUB_SUBSCRIPTION_ID_ANALYZER=price-analyzer-subscription
PUBSUB_SUBSCRIPTION_ID_BROADCASTER=price-broadcaster-subscription

# Gemini API 金鑰
GEMINI_API_KEY=