# Dependencies
node_modules/
npm-lock.json
pnpm-lock.yaml
yarn.lock

# uv
.venv/
__pycache__/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Build outputs
dist/
build/
coverage/

# Environment files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# 永豐 CA 憑證
Sinopac.pfx